<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
    </div>
    <h1 class="overlayText">Joy in the age of loss</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        Caroline Wroblewski, 75, volunteers to work with hospice patients and with some residents who are having memory problems, she is shown here in her apartment at Normandy Farms Estates Retirement Community looking at momentos from her past, in Blue Bell.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            If you live long enough, the accumulation of grief is inevitable. Yet some navigate the loss of family and friends with grace, good humor, and resilience. How do they do it?
        </div>
        <div class="byline">
            Stacey Burling / Staff Writer, <a href="mailto:sburling@phillynews.com">sburling@phillynews.com</a>
            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">September 14, 2018</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p><span class="dropCap">J</span>erry Jackson, a retired accountant, described the accumulation of losses that accompany old age in concrete, mathematical terms.</p>
<p>When he and his wife moved to Rydal Park, a Jenkintown retirement community, they joined an informal breakfast group of about 10.&nbsp; "They were a great bunch of people," said Jackson, who is now 90.</p>
<p>Seven years later, "I'm still in the same chair as when everybody was here, but there are only two of us left, and we eat at different times."&nbsp; Among the empty chairs is the one his wife of almost 70 years occupied.&nbsp; She died in May.</p>

{% set ad = ["21"] %} {% include "partials/ad.html" %}

<p>Coping with the deaths of friends and family members and the inescapable knowledge that time is limited for remaining peers is among the great emotional challenges of aging. "It sucks, period," said Dorree Lynn, a 77-year-old psychologist in Charleston, S.C., who recently lost two close colleagues.&nbsp; "It starts in your 60s and gets worse." &nbsp;Not everyone can overcome it, but those who are resilient enough to navigate this dance with mortality well can find wisdom and everyday joy made sweeter by the depletion of time.</p>
<p>There's no doubt that many elders let their social world contract. "They sort of shrink into a box," said Thelma Reese, an 85-year-old Philadelphian who has written books about aging. Scientific evidence that isolation and loneliness are harmful, both physically and emotionally, is mounting. "Being by yourself with the shades drawn and not interacting with other people can be deadly," said Stephen Scheinthal, a geriatric psychiatrist who is chair of psychiatry at the Rowan University School of Osteopathic Medicine.</p>

            {% set quote = ["This is a quote here", "Source of quote"] %} {% include "partials/left-quote.html" %}

<p>And yet research also shows that, as a group, older people in decent health score higher on measures of happiness than young and middle-aged adults. (Scores sometimes dip a bit as infirmities increase.) This is true even though deaths are not the only losses the aged face.&nbsp; Many have also lost their independence and professional prestige.&nbsp; Friends and family members have moved away or cut ties.</p>
<p>What allows some people to thrive emotionally at a time when losses are piling up like leaves under a maple tree in October?&nbsp; How do they find the courage to care when they have so much experience with heartbreak?</p>
<div class="subHead">Pain and joy</div>
<p>The answer, according to experts and older people themselves, is not as simple as "you have to keep making new friends," although that is a common part of the equation. It also helps to embrace the idea that life can have meaning and purpose at any age, to treasure the people who are left, to cultivate gratitude and seek personal growth. &nbsp;A sense of humor is invaluable. &nbsp;Curiosity helps, too.</p>
<p>"I live for the day," said Marian Poole, 88, a Rydal Park resident whose husband died eight months ago.&nbsp; "I'm anxious to get up in the morning.&nbsp; I want to see what happens."</p>
<p>Even for people who are outgoing, this takes work.&nbsp; Seniors who are thriving despite loss say they make a point of trying new things and meeting new people. &nbsp;They accept the possibility of failure, rejection and pain. They cherish memories.&nbsp; They do not fear grief.</p>
<p>"A hunch that I have is that pain and joy are really located right next to each other in our heart," said Rabbi Dayle Friedman, a chaplain and spiritual director whose Philadelphia-based practice is focused on serving people beyond midlife.&nbsp; "To be open to one, you have to be open to the other."</p>
<p>Friedman's sister died four years ago at age 61. Think of life, she said, as a half marathon.&nbsp; You start off with lots of other runners, but, if you take a long time to get to the finish line, the field thins out.&nbsp; "That really hurts.&nbsp; It can be lonely, and it can start to feel like you know more people on the other side than this side."</p>
<div class="subHead">'We will be different people'</div>
<p>Marc Agronin, a Miami geriatric psychiatrist and author of The End of Old Age, said that more of his clients in the their 80s and 90s still have friends from childhood around now than in the past because people are living longer. &nbsp;But, he said, the concept of loss has also changed with modern life. &nbsp;Families are smaller and more scattered.&nbsp; Friends may also have moved. Travel becomes more difficult with age.&nbsp; Older people often feel less connected whether their friends are alive or not.</p>
<p>This can all sound pretty depressing to younger people, but Agronin said many of us make a crucial error when we imagine how it will feel to be older.&nbsp; We forget, he said, that "we will be different people."</p>
<p>SaraKay Smullens, 78, a Philadelphia clinical social worker and author, echoed that.&nbsp; "As we get older, we just see things very differently with every decade," she said, "and I don't know that you can teach that."</p>
<p>Along with loss and decline, Agronin said, old age can mean "a simultaneous process of growth and development." Ideally, perspectives broaden and people become more resistant to adversity. Amy Yotopoulos, &nbsp;director of the Mind Division of the Stanford Center for Longevity, said that, at all income levels, research has found that ratings of happiness rise until the final years of life when failing health restricts activities. This is true across all socioeconomic strata.</p>
<p>Seniors tend to focus more than the young on positive information and emotions, Yotopoulos said. This may be dangerous when evaluating scammers, but it tends to make life feel rosier.</p>
<p>Anthony Bardo, a University of Kentucky sociologist, has found that happiness tends to increase from the late teens to the early 60s when it begins to level off. It starts to curve downward in the late 70s.&nbsp; Health, which, on average, plays a minor role in happiness in our youth, becomes much more important as we age.&nbsp; Satisfaction with home, friends and family help to offset decreasing satisfaction with health.</p>
<p>Elders' social networks may be smaller, but research shows they are less likely than younger people to feel lonely. They concentrate on relationships they value, and often are satisfied with less social stimulation.</p>
<p>When we're more aware of mortality, "we start valuing what we hold dear," Yotopoulos said.&nbsp; "We become more selective about who we socialize with and how we spend our time." It may not be essential for older people to replenish their supply of friends if they "still have that core sense that someone's got your back," Yotopoulos said.</p>
<p>Others, including many older people themselves, say new friends are important.&nbsp; The new relationships may not be as deep as old ones with decades of shared history, but emotional intimacy and rewarding companionship is still possible.</p>
<p>Therapists who work with the elderly said some people really struggle with making new connections. Some may never have had good social skills. Others might just be out of practice.</p>
<div class="subHead">'Grief is a love letter'</div>
<p>Rowan psychiatrist Scheinthal said his 90-year-old father-in-law made a fast friend soon after moving to assisted living.&nbsp; Within months, the man died.&nbsp; "That's it," he said afterwards.&nbsp; "I'm not making any more friends here.&nbsp; They're just going to get sick and die."</p>
<p>But grief doesn't have to keep people from reaching out.</p>
<p>Smullens tells her older clients it's OK to grieve and to recognize that no one can replace a cherished person.&nbsp; Letting go is part of every new phase of life.&nbsp; "Grief," she said, "is a love letter.&nbsp; It just can't dominate your world."</p>
<p>Lynn, the Charleston psychologist, remembers her dad telling her he hated going to the golf course when he was in his late 80s.&nbsp; "I never know who's not going to show up," he told her.&nbsp; She added: "But he went anyway, and that's part of the trick."</p>
<p>People need to let themselves grieve, she said, because that's part of the healing, and then they need to let themselves care.&nbsp; "The instinct is to want to never love again," she said.&nbsp; That's a mistake. "Love cures."</p>

                {% include "partials/subscribebox.html" %}

<p>Therapists recommend volunteering as a way to do something valuable and meet like-minded people.&nbsp; Learn a new skill.&nbsp; Get involved in politics.&nbsp; Join a book club.&nbsp; Friendships will follow.</p>
<p>Laura Jackson, an 86-year-old West Philadelphian, who worked as a certified nursing assistant until 2010,&nbsp; has gotten more active in her community by joining the Dornsife Center Senior Group. She sings in a choir and has taken exercise and Tai Chi classes.&nbsp; She enjoys chatting with young people at the nearby community garden. &nbsp;Like other happy elders, she is grateful. &nbsp;"I'm one of the lucky ones," she said. "My home is paid for and I can get my groceries and a lot of people can't.&nbsp; I'm blessed in so many ways."</p>

{% set ad = ["22"] %} {% include "partials/ad.html" %}

<p>At Rydal Park, Jerry Jackson organized a show of his wife's photos from their travels as a tribute. He does not expect to ever "get over" her death but said, "you have to go on."&nbsp; He's still making new friends and is well aware that they need to make the most of their time.</p>
<p>"They're friends today and tomorrow, and that's fine," he said.</p>
<p>A new group is starting to form.&nbsp; "Maybe that's the beginning of the next [breakfast] table," Jackson said.&nbsp; "I hope so."</p>

        </div>
    </div>
</div>
<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">DAVID SWANSON / Staff Photographer</div>
    </div>
</div>
