<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
    </div>
    <h1 class="overlayText">Joy in the age of loss</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        Caroline Wroblewski, 75, in her apartment at Normandy Farms Estates retirement community in Blue Bell, looks at her mementos.
    </div>
</div>

<div class="container" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <div class="headDisplay">
                <div class="subHead">
                    If you live long enough, the accumulation of grief is inevitable. Yet some navigate the loss of family and friends with grace, good humor, and resilience. How do they do it?
                </div>
                <div class="byline">
                    Stacey Burling / Staff Writer, <a href="mailto:sburling@phillynews.com">sburling@phillynews.com</a>
                </div>
                <div class="dateline">September 14, 2018</div>
                {% include "./partials/socialshare.html" %}
            </div>

            <p><span class="dropCap">J</span>erry Jackson, a retired accountant, described the accumulation of losses that accompany old age in concrete, mathematical terms.</p>
            <p>When he and his wife moved to Rydal Park, a Jenkintown retirement community, they joined an informal breakfast group of about 10.&nbsp; "They were a great bunch of people," said Jackson, who is now 90.</p>

          </div>
          </div>
          <div class="imagebreak"><img class="img-fluid" src="http://media.philly.com/images/he1loss_jerry1_1200.jpg" alt="" width="100%/" />
            <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption" alignment="true">Jerry Jackson eats breakfast at Rydal Park retirement community, in Jenkintown.</div>
          </div>
          <div class="row">
          <div class="col-md-8 col col-md-offset-2">

            <p>Seven years later, "I'm still in the same chair as when everybody was here, but there are only two of us left, and we eat at different times."&nbsp; Among the empty chairs is the one his wife of almost 70 years occupied.&nbsp; She died in
                May.
            </p>

            {% set ad = ["21"] %} {% include "partials/ad.html" %}

            <p>Coping with the deaths of friends and family members and the inescapable knowledge that time is limited for remaining peers is among the great emotional challenges of aging. "It sucks, period," said Dorree Lynn, a 77-year-old psychologist
                in Charleston, S.C., who recently lost two close colleagues.&nbsp; "It starts in your 60s and gets worse." &nbsp;Not everyone can overcome it, but those who are resilient enough to navigate this dance with mortality well can find wisdom
                and everyday joy made sweeter by the depletion of time.</p>

            <!-- Thelma Reese vignette -->
        </div>
    </div>
</div>
<div class="vignette afterShaddow">
    <div class="container" alignment="true">
        <div class="row" alignment="true">
            <div class="col-md-10 col col-md-offset-1" alignment="true">
                <!-- <div data-ride="carousel" class="carousel slide 493097941" id="carousel-one-generic" alignment="true">&zwnj;</div> -->
                <div class="imagebreak">{% set photoInfo = gal1 %}{% include "./partials/gallery.html" %}</div>

                <div class="subHead">Thelma Reese, 85, Bella Vista neighborhood of Philadelphia</div>
                <p><strong>History:&nbsp;</strong>A retired professor of English and education, she coauthored The New Senior Woman and The New Senior Man&nbsp;and is working on another book about seniors.</p>
                <p><strong>Wisdom:</strong> She's a believer in "doing things that take you out of yourself enough to widen your horizon a little" to improve mental health and prevent focus on the physical problems of old age.</p>
                <p>It's tough to lose old friends, either from death or growing apart. "You feel like you're losing part of your history when they go." New friends can listen to your stories, but you haven't "lived and breathed it together."</p>
                <p>She is "extremely" conscious of her mortality and has been reading about psychologist Erik Erikson's stages of development.&nbsp; His last stage (65 and up) is the age of integrity or despair.&nbsp; That resonates with Reese.&nbsp; Once
                    you have a "sense of an ending," she said, "it can either make you despair or make you think: 'I've got to do something. I've got to get it done somehow.' "</p>
                <p>Interviewing other seniors who are leading active lives helps her open up.&nbsp; "I'm interested in these people because they're doing things I'm not.&nbsp; I admire them.&nbsp; I find it encouraging that they're in the world."</p>
            </div>
        </div>
    </div>
    <div class="expandButton">Keep reading</div>
</div>
<div class="container" alignment="true">
    <div class="row">
        <div class="col-md-8 col col-md-offset-2">


            <!-- End Thelma Reese vignette -->

            <p>There's no doubt that many elders let their social world contract. "They sort of shrink into a box," said Thelma Reese, an 85-year-old Philadelphian who has written books about aging. Scientific evidence that isolation and loneliness are harmful,
                both physically and emotionally, is mounting. "Being by yourself with the shades drawn and not interacting with other people can be deadly," said Stephen Scheinthal, a geriatric psychiatrist who is chair of psychiatry at the Rowan University
                School of Osteopathic Medicine.</p>

            {% set quote = ["Being by yourself with the shades drawn and not interacting with other people can be deadly", "Stephen Scheinthal, geriatric psychiatrist and chair of psychiatry at the Rowan University School of Osteopathic Medicine"] %} {% include "partials/left-quote.html"
            %}

            <p>And yet research also shows that, as a group, older people in decent health score higher on measures of happiness than young and middle-aged adults. (Scores sometimes dip a bit as infirmities increase.) This is true even though deaths are
                not the only losses the aged face.&nbsp; Many have also lost their independence and professional prestige.&nbsp; Friends and family members have moved away or cut ties.</p>
            <p>What allows some people to thrive emotionally at a time when losses are piling up like leaves under a maple tree in October?&nbsp; How do they find the courage to care when they have so much experience with heartbreak?</p>

            <div class="subHead">Pain and joy</div>

            <p>The answer, according to experts and older people themselves, is not as simple as "you have to keep making new friends," although that is a common part of the equation. It also helps to embrace the idea that life can have meaning and purpose
                at any age, to treasure the people who are left, to cultivate gratitude and seek personal growth. &nbsp;A sense of humor is invaluable. &nbsp;Curiosity helps, too.</p>



        </div>
    </div>
</div>
<div class="vignette afterShaddow">
    <div class="container" alignment="true">
        <div class="row" alignment="true">
            <div class="col-md-10 col col-md-offset-1" alignment="true">
                <!-- <div data-ride="carousel" class="carousel slide 493097941" id="carousel-one-generic" alignment="true">&zwnj;</div> -->
                <div class="imagebreak">{% set photoInfo = gal2 %}{% include "./partials/gallery.html" %}</div>

                <div class="subHead">Virginia Sale, 90, Rydal Park retirement community</div>
                <p><strong>History: </strong>Sale was a Presbyterian minister like her husband.&nbsp; He died in 2015 of Alzheimer's disease. They had lived and worked together for almost 60 years. &nbsp;She has outlived most of her longtime friends.</p>
                <p><strong>Wisdom:&nbsp;</strong>During her husband's nine-year illness, she learned to find positives, even in their suffering. "What I discovered was that, in this daily struggle for both of us, we learned how much we loved each other,"
                    she said.
                </p>
                <p>After years of counseling others, Sale was surprised by how traumatic her husband's death felt. She realized she had lost a part of herself that had belonged to the marriage.&nbsp; "When that bond is broken, there is part of you that's
                    missing, not just the loss of the person, the loss of the identity," &nbsp;she said.</p>
                <p>At 90, she asked herself, " 'Well, Virginia, you're old. What are the possibilities?' ''</p>
                <p>"A lot of life is a matter of stops and starts," she has learned, "and every time we grow."</p>
                <p>She decided she would stop feeling sorry for herself. "Somewhere along the way you say, 'I am worth living for myself. ... I claim myself.'"</p>
                <p>After her husband's death, she learned to make decisions for herself, without compromise. She redecorated. She plays bridge and works in the library.&nbsp; She takes walks.&nbsp; An introvert, a few friends are enough for her. She relishes
                    the time she has to read. "I just love to learn," she said.</p>
                <p>Is she happy? "I'm at peace," she said, "and that is the kind of happiness you can count on."</p>
            </div>
        </div>
    </div>
    <div class="expandButton">Keep reading</div>
</div>
<div class="container" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <!-- End Virginia Sale vignette -->

            <p>"I live for the day," said Marian Poole, 88, a Rydal Park resident whose husband died eight months ago.&nbsp; "I'm anxious to get up in the morning.&nbsp; I want to see what happens."</p>
            <p>Even for people who are outgoing, this takes work.&nbsp; Seniors who are thriving despite loss say they make a point of trying new things and meeting new people. &nbsp;They accept the possibility of failure, rejection, and pain. They cherish
                memories.&nbsp; They do not fear grief.</p>

            {% set quote = ["A hunch that I have is that pain and joy are really located right next to each other in our heart", "Rabbi Dayle Friedman"] %} {% include "partials/left-quote.html" %}

            <p>"A hunch that I have is that pain and joy are really located right next to each other in our heart," said Rabbi Dayle Friedman, a chaplain and spiritual director whose Philadelphia-based practice is focused on serving people beyond midlife.&nbsp;
                "To be open to one, you have to be open to the other."</p>
            <p>Friedman's sister died four years ago at age 61. Think of life, she said, as a half marathon.&nbsp; You start off with lots of other runners, but, if you take a long time to get to the finish line, the field thins out.&nbsp; "That really hurts.&nbsp;
                It can be lonely, and it can start to feel like you know more people on the other side than this side."</p>

            <div class="subHead">'We will be different people'</div>

            <p>Marc Agronin, a Miami geriatric psychiatrist and author of The End of Old Age, said that more of his clients in their 80s and 90s still have friends from childhood around now than in the past because people are living longer. &nbsp;But, he
                said, the concept of loss has also changed with modern life. &nbsp;Families are smaller and more scattered.&nbsp; Friends may also have moved. Travel becomes more difficult with age.&nbsp; Older people often feel less connected whether
                their friends are alive or not.</p>
            <p>This can all sound pretty depressing to younger people, but Agronin said many of us make a crucial error when we imagine how it will feel to be older.&nbsp; We forget, he said, that "we will be different people."</p>

            <!-- Young Bin Lee vignette -->
        </div>
    </div>
</div>
<div class="vignette afterShaddow">
    <div class="container" alignment="true">
        <div class="row" alignment="true">
            <div class="col-md-10 col col-md-offset-1" alignment="true">
                <!-- <div data-ride="carousel" class="carousel slide 493097941" id="carousel-one-generic" alignment="true">&zwnj;</div> -->
                <div class="imagebreak">{% set photoInfo = gal3 %}{% include "./partials/gallery.html" %}</div>

                <div class="subHead">Young Bin Lee, 81, Medford</div>
                <p><strong>History:&nbsp;</strong>Raised in both North and South Korea, Lee came to the U.S. for advanced medical training in 1964. He had planned to go back to Korea, but his wife, also a doctor, got cancer, and they stayed. She died in
                    2000. Two good friends died this year. He works four half-days a week as a neuropsychiatrist and is active in his church and Korean organizations.&nbsp; He loves opera.&nbsp; He has had heart surgery and a kidney transplant.&nbsp;
                    His kidney came from his second wife, Eulie, whom he married 10 years ago.</p>
                <p><strong>Wisdom: </strong>Asked about grief, Lee quoted a character from the opera Nabucco, who said, "Lord, give us the courage to endure suffering."&nbsp; Notice, Lee said, the character did not say, "Lord, do not give us any suffering."</p>
                <p>Keeping busy and maintaining a younger mind-set help him live with loss.&nbsp; "I like to think I'm still in my 50s and 60s.&nbsp; At that age, you work hard. You take care of your children and you think about your grandchildren and try
                    to study and learn more.&nbsp; That kind of lifestyle, I like that."</p>
                <p>He keeps his eye on today. &nbsp;"I don't think about how long I'm going to live. I focus on now. I have no fear of dying, actually, but I will do my best until I die."</p>

            </div>
        </div>
    </div>
    <div class="expandButton">Keep reading</div>
</div>
<div class="container" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <!-- End Young Bin Lee vignette -->

            <p>SaraKay Smullens, 78, a Philadelphia clinical social worker and author, echoed that.&nbsp; "As we get older, we just see things very differently with every decade," she said, "and I don't know that you can teach that."</p>
            <p>Along with loss and decline, Agronin said, old age can mean "a simultaneous process of growth and development." Ideally, perspectives broaden and people become more resistant to adversity. Amy Yotopoulos, &nbsp;director of the Mind Division
                of the Stanford Center for Longevity, said that, at all income levels, research has found that ratings of happiness rise until the final years of life when failing health restricts activities. This is true across all socioeconomic strata.
            </p>
            <p>Seniors tend to focus more than the young on positive information and emotions, Yotopoulos said. This may be dangerous when evaluating scammers, but it tends to make life feel rosier.</p>

            <!-- Pat Killen vignette -->


        </div>
    </div>
</div>
<div class="vignette afterShaddow">
    <div class="container" alignment="true">
        <div class="row" alignment="true">
            <div class="col-md-10 col col-md-offset-1" alignment="true">
                <!-- <div data-ride="carousel" class="carousel slide 493097941" id="carousel-one-generic" alignment="true">&zwnj;</div> -->
                <div class="imagebreak">{% set photoInfo = gal4 %}{% include "./partials/gallery.html" %}</div>


                <div class="subHead">Pat Killen, 76, Roxborough</div>
                <p><strong>History:</strong> A former dietary clerk at Roxborough Memorial Hospital, she was widowed at 52 and "thought my life was over."&nbsp; She later dated an older man, but since his death has avoided romance. &nbsp;Depressed in retirement,
                    she joined an exercise class at the Center at Journey's Way, her local senior center, and started taking trips.&nbsp; She has taken voice lessons, joined a church choir, and volunteered in a church bereavement program where she helped
                    families plan funerals. &nbsp;She helps older seniors in her neighborhood who have trouble getting out. She started a walking group. She has met most of her good friends since 2010 and says the friendships are deeper than her earlier
                    ones.&nbsp; "I am having the time of my life."</p>
                <p><strong>Wisdom:</strong> Killen goes out of her way to try new things.&nbsp; "Older people have to fight it a little bit rather than settle in." She thinks virtual reality is "the coolest thing."</p>
                <p>Helping people at the end of life, she said, gives her strength. "I have accepted the fact that each of us, our days are numbered and just whatever time that I have with these people, I would make the most out of it and enjoy," she said.&nbsp;
                    "There's so much work to be done out there in the community.&nbsp; I want to do what I was put here on this world to do."</p>
                <p>She feels blessed and busy.&nbsp; "God has just surrounded me with such friends and family.&nbsp; I love my life, and I'm going to live it. ... I would never trade places with the woman I was at 30."</p>
            </div>
        </div>
    </div>
    <div class="expandButton">Keep reading</div>
</div>
<div class="container" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <!-- End Pat Killen vignette -->

            <p>Anthony Bardo, a University of Kentucky sociologist, has found that happiness tends to increase from the late teens to the early 60s, when it begins to level off. It starts to curve downward in the late 70s.&nbsp; Health, which, on average,
                plays a minor role in happiness in our youth, becomes much more important as we age.&nbsp; Satisfaction with home, friends, and family helps to offset decreasing satisfaction with health.</p>
            <p>Elders' social networks may be smaller, but research shows they are less likely than younger people to feel lonely. They concentrate on relationships they value, and often are satisfied with less social stimulation.</p>

            <!-- Jettie Newkirk vignette -->

        </div>
    </div>
</div>
<div class="vignette afterShaddow">
    <div class="container" alignment="true">
        <div class="row" alignment="true">
            <div class="col-md-10 col col-md-offset-1" alignment="true">
                <!-- <div data-ride="carousel" class="carousel slide 493097941" id="carousel-one-generic" alignment="true">&zwnj;</div> -->
                <div class="imagebreak"><img class="img-fluid" src="http://media.philly.com/images/he1loss_jettie_1200.jpg" alt="" width="100%/" />
                    <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
                    <div class="containerPhotoCaption" alignment="true">Jettie Newkirk, 83, has found a new appreciation for the beauty of nature.</div>
                </div>



                <div class="subHead">Jettie Newkirk, 83, West Philadelphia</div>
                <p><strong>History:</strong> She is a former high school teacher and counselor who became a lawyer, and is just easing out of her law practice now.&nbsp; An only child who never married, she has a daughter who looks out for her.&nbsp; Three
                    of her four best friends have died; the lone survivor lives in California. Newkirk is having health problems. "The doctor officially told me the other day when I was there that I was falling apart, and I agreed with him," she said
                    wryly.</p>
                <p><strong>Wisdom:</strong> Newkirk is active in her church and sorority.&nbsp; She often eats Sunday dinner with a neighbor in her condo building.&nbsp; "People just take to me and appreciate my smile and my encouragement, and that gets
                    me friends," she said. Over the years, she has mentored many young women who now treat her like a mother.&nbsp; "I've got a support system to be envied."</p>
                <p>She is trying not to worry about money -- that shows a "lack of faith" -- and is learning to ask for and accept help.</p>
                <p>She feels resilient and thankful. "Every day, there is something new for me to be grateful for," she said. "This year, I have noticed how beautiful the scenery is, the trees as they have been changing."</p>
            </div>
        </div>
    </div>
    <div class="expandButton">Keep reading</div>
</div>
<div class="container" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <!-- End Jettie Newkirk vignette -->

            <p>When we're more aware of mortality, "we start valuing what we hold dear," Yotopoulos said.&nbsp; "We become more selective about who we socialize with and how we spend our time." It may not be essential for older people to replenish their
                supply of friends if they "still have that core sense that someone's got your back," Yotopoulos said.</p>
            <p>Others, including many older people themselves, say new friends are important.&nbsp; The new relationships may not be as deep as old ones with decades of shared history, but emotional intimacy and rewarding companionship are still possible.
            </p>

            <!-- Caroline Wroblewski vignette -->
        </div>
    </div>
</div>
<div class="vignette afterShaddow">
    <div class="container" alignment="true">
        <div class="row" alignment="true">
            <div class="col-md-10 col col-md-offset-1" alignment="true">
                <!-- <div data-ride="carousel" class="carousel slide 493097941" id="carousel-one-generic" alignment="true">&zwnj;</div> -->
                <div class="imagebreak">{% set photoInfo = gal5 %}{% include "./partials/gallery.html" %}</div>

            <div class="subHead">Caroline Wroblewski, 75, Normandy Farms Estates, a retirement community in Blue Bell</div>
                <p><strong>History:</strong> She retired at 70 as director of a counseling and treatment program for women in Washington, D.C. Never married, she has lost a sister and moved to be near her brother.&nbsp; Close friends have moved to Texas
                    and Massachusetts. She counts leaving her beloved condo near Washington as a loss. She volunteers with hospice patients.</p>
                <p><strong>Wisdom:&nbsp;</strong>Wroblewski is clear-eyed about her mortality now that she is well past the halfway point in her life.&nbsp; "I am healthy, but I know I've lived longer than I'm going to live."&nbsp;&nbsp; Her deepest friendships
                    are those established long ago, but she is forming strong relationships at Normandy Farms, too.&nbsp; One, Pat, is in her late 80s.&nbsp; They do jigsaw puzzles and water aerobics together.&nbsp; "I am coming to love Pat.&nbsp; She's
                    one of my trusted friends here. ... Granted, she is at the end of her life, but she's very alive in the moment."</p>
                <p>One of her hospice patients was 89 and able to communicate only with her eyes.&nbsp; The day before she died, Wroblewski told her: "I just want you to know it's been a joy working with you, being with you.&nbsp; I believe you're already
                    in the hands of God." Wroblewski felt lucky to have had time with her.&nbsp; "I learned the most from her.&nbsp; She was just a gracious receiver.&nbsp; She had no complaints.&nbsp; She enjoyed the moment."</p>
                <p>Wroblewski treasures hearing the stories of older residents. "They're my mentors right now.&nbsp; They're in places where I have yet to go, and they're helping me choose how I want to go there."</p>
            </div>
        </div>
    </div>
    <div class="expandButton">Keep reading</div>
</div>
<div class="container" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
                <!-- End Caroline Wroblewski vignette -->

                <p>Therapists who work with the elderly said some people really struggle with making new connections. Some may never have had good social skills. Others might just be out of practice.</p>

                <div class="subHead">'Grief is a love letter'</div>

                <p>Rowan psychiatrist Scheinthal said his 90-year-old father-in-law made a fast friend soon after moving to assisted living.&nbsp; Within months, the man died.&nbsp; "That's it," he said afterward.&nbsp; "I'm not making any more friends here.
                    They're just going to get sick and die."</p>
                <p>But grief doesn't have to keep people from reaching out.</p>
                <p>Smullens tells her older clients it's OK to grieve and to recognize that no one can replace a cherished person.&nbsp; Letting go is part of every new phase of life.&nbsp; "Grief," she said, "is a love letter.&nbsp; It just can't dominate
                    your world."</p>

                {% set quote = ["Grief is a love letter. It just can't dominate your world", "SaraKay Smullens, clinical social worker and author"] %} {% include "partials/left-quote.html" %}

                <p>Lynn, the Charleston psychologist, remembers her dad telling her he hated going to the golf course when he was in his late 80s.&nbsp; "I never know who's not going to show up," he told her.&nbsp; She added: "But he went anyway, and that's
                    part of the trick."</p>
                <p>People need to let themselves grieve, she said, because that's part of the healing, and then they need to let themselves care.&nbsp; "The instinct is to want to never love again," she said.&nbsp; That's a mistake. "Love cures."</p>

                {% include "partials/subscribebox.html" %}

                <p>Therapists recommend volunteering as a way to do something valuable and meet like-minded people.&nbsp; Learn a new skill.&nbsp; Get involved in politics.&nbsp; Join a book club.&nbsp; Friendships will follow.</p>

                <!-- Heshie Zinman vignette -->
            </div>
        </div>
    </div>
    <div class="vignette afterShaddow">
        <div class="container" alignment="true">
            <div class="row" alignment="true">
                <div class="col-md-10 col col-md-offset-1" alignment="true">
                    <!-- <div data-ride="carousel" class="carousel slide 493097941" id="carousel-one-generic" alignment="true">&zwnj;</div> -->

        <div class="imagebreak"><img class="img-fluid" src="http://media.philly.com/images/he1loss_heshie_1200.jpg" alt="" width="100%/" />
            <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
            <div class="containerPhotoCaption" alignment="true">HHeshie Zinman, 67, left, mourns the loss two years ago of his best friend, Eddie Bomba, in the photograph, right, with his seeing eye dog Cooper. The founder of the LGBT Elder Initiative, he has become an advocate for gay older adults.</div>
        </div>


                <div class="subHead">Heshie Zinman, 67, Center City</div>
                    <p><strong>History</strong>: Cofounder of &nbsp;the LGBT Elder Initiative, he became an activist and advocate during the early days of the AIDS epidemic. &nbsp;&nbsp;He learned he was HIV-positive in 1989 and assumed he would die before
                        long.&nbsp; New treatments have kept the virus at bay.&nbsp; His parents died when he was 24, a loss that left him with a sense of "profound vulnerability." Coming just a few years later, the AIDS epidemic was devastating.&nbsp;
                        "I had like 16 close friends -- we were a whole social group -- who died. They were horrible losses. It was not pretty."&nbsp; His best friend died two years ago, at age 62.</p>
                    <p><strong>Wisdom: </strong>When grief from the AIDS crisis hit him, he remembered what he had learned after his parents died.&nbsp; "I was so fortunate to have known my mother and father for as long as I did, and I was so fortunate to
                        know these friends," he said. "I had my memories and that got me through some really hard times." He and his husband of six years supported each other when their friend died recently.&nbsp; "That was a comfort."</p>
                    <p>He's active in his synagogue and the community. "I'm always out there meeting people," he said.&nbsp; He urges people who are lonely to volunteer or take part in politics.&nbsp; "There are so many things that you can do to stay involved
                        in the world, and you just have to do it."</p>
                    <p>Nothing takes away the pain of loss, he said, but you can suffer less.</p>
                    <p>"You never can exhaust that process of minimizing what is not important and looking at things that really matter," he said.</p>
                    <p>Zinman makes a point of telling people how much he cares for them. Death or disease could come at any time.&nbsp; "I just know that it could be tomorrow. It could be at any moment.&nbsp; What's important is this moment. Right now.
                        Today.&nbsp; Try and do good."</p>
                    </div>
                </div>
            </div>
            <div class="expandButton">Keep reading</div>
        </div>
        <div class="container bodyContainer" alignment="true">
            <div class="row" alignment="true">
                <div class="col-md-8 col col-md-offset-2" alignment="true">
                    <!-- End Heshie Zinman vignette -->

                    <p>Laura Jackson, an 86-year-old West Philadelphian, who worked as a certified nursing assistant until 2010,&nbsp; has gotten more active in her community by joining the Dornsife Center Senior Group. She sings in a choir and has taken
                        exercise and Tai Chi classes.&nbsp; She enjoys chatting with young people at the nearby community garden. &nbsp;Like other happy elders, she is grateful. &nbsp;"I'm one of the lucky ones," she said. "My home is paid for and I can
                        get my groceries and a lot of people can't.&nbsp; I'm blessed in so many ways."</p>

                    {% set ad = ["22"] %} {% include "partials/ad.html" %}

                    <p>At Rydal Park, Jerry Jackson organized a show of his wife's photos from their travels as a tribute. He does not expect to ever "get over" her death but said, "You have to go on."&nbsp; He's still making new friends and is well aware
                        that they need to make the most of their time.</p>
                    <p>"They're friends today and tomorrow, and that's fine," he said.</p>
                    <p>A new group is starting to form.&nbsp; "Maybe that's the beginning of the next [breakfast] table," Jackson said.&nbsp; "I hope so."</p>
                    <p><i>If you have advice for how to stay positive in the face of loss, we'd like to hear from you. Please add a comment or email Stacey Burling at <a href="mailto:sburling@phillynews.com">sburling@phillynews.com</a>.</i></p>

                </div>
            </div>
        </div>
        <div class="headerIntro">
        <div class="backgroundImage" id="backgroundImage-2">
            <div class="backgroundImageSection">
                <!-- <div class="backgroundImageCaption">
                </div> -->
                <div class="backgroundImageCredit" alignment="true">DAVID SWANSON / Staff Photographer</div>

            </div>

        </div>
    </div>
